@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}
body {
    max-height: 100vh;
}
html {
    background: #000;
    color: #fff;
}
.header {
    color: #000;
    width: 60%;
    background: #f3d831;
    margin: 0 auto;
    height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.75rem;
    border-radius: 0 0 30px 30px;
}
.timer {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
}
.timer__title {
    font-size: 2.5rem;
}
.timer__display {
    font-size: 8rem;
}
.controller {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}
.controllerBtn:nth-child(2) {
    margin: 0 20px
}
.controllerBtn {
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    outline: none
}
.controllerBtn__green {
    background: #00BC5D;
}

.controllerBtn__orange {
    background: #f38524;
}

.controllerBtn__red {
    background: #cc060d;
}

.controllerBtn__s {
    background: #00886F;
}

.lapList {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 1rem;
    overflow-y: scroll;
}
.lapList__item {
    margin: 0 auto;
    width: 60%;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    padding: 10px 0;
    font-size: 2rem;
}
.lapListItem__right {
    float: right
}
.alert {
    z-index: 10;
    top: 0rem;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slideIn;
    animation-duration: 1s;
}
@keyframes slideIn {
    from {
        transform: translateY(-2rem);
    }
    to {
        transform: translateY(0rem);
    }
}
.alert-red {
    background: #cc060d;
}
.alert__btn {
    width: 3rem;
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
    background: #fff;
    border: none;
    outline: none;
}